/*-----------------
       RESET
-----------------*/     
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  

/*-----------------
       GENERAL
-----------------*/
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}





/*-----------------
       HEADER
-----------------*/
.header-top{
    background-color: #add8e6;
    padding: 15px 0;
}

.header-bottom{
    background-color: #00008b;
    padding: 30px 0;
}

.header-top >  .container{
    display: flex;
    background-color: #daa520;
}

.header-top .logo,
.header-top nav,
.header-top .Login {
    border:  1px dashed black;
    padding: 6px;

}

.header-top .logo, .header-top .Login {
    width: 20%;
}

.header-top .logo {
    text-align: right;
}

.header-top nav {
    width: 60%;
    text-align: center;
}



.header-bottom .hero {
    background-color: palevioletred;
    width: 70%;
    height: 250px ;
    border: 1px dashed black;
    margin: auto;

}
/*-----------------
       SECTION
-----------------*/

section .box-top{
    display: flex;
}

.box-top .col-big {
    background-color: aqua;
    width: 45%;
    height: 250px ;
    border: 1px dashed black;
    margin-top: 20px;
    margin-left: 100px;


}

.box-top .col-small {
    background-color: pink;
    width: 25%;
    height: 250px ;
    border: 1px dashed black;
    margin-top: 20px;
    margin-left: 0;


}

section .box-bottom{
    display: flex;
    background-color: gray;
}

.box-bottom .col-big {
    background-color: pink;
    width: 45%;
    height: 250px ;
    border: 1px dashed black;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;


}

.box-bottom .col-small {
    background-color: aqua;
    width: 25%;
    height: 250px ;
    border: 1px dashed black;
    margin-top: 20px;
    margin-left: 0;


}

section .box-square{
    display: flex;
    background-color: gray;
}

.box-square .square{
    background-color: green;
    width: 70%;
    height: 250px ;
    border: 1px dashed black;
    margin-top: 20px;
    margin-left: 100px;
    


}

footer{
    background-color: black;
}

footer .footer-top{
    display: flex;
    background-color: black;
}

.footer-top .box-left{
    background-color: rgb(252, 65, 118);
    width: 25%;
    height: 250px ;
    border: 1px dashed black;
    margin-top: 2px;
    margin-left: 100px;
    margin-bottom: 4px;

}

.footer-top .box-right{
    background-color: greenyellow;
    width: 11%;
    height: 250px ;
    border: 2px dashed white;
    margin-top: 2px;

}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    margin top: 4px;
    width: 71%;
    height: 30px ;
    margin-left: 100px
}

.left {
    background-color: rgb(252, 65, 118);
    border: 1px dashed black;
    width: 40px;
    height: 20px;
}

.right {
    background-color: rgb(252, 65, 118);
    border: 1px dashed black;
    width: 40px;
    height: 20px;
}
